$black : #000;
$primary: #2A4B71;
$secondary: #D48806;
$text_color:#333;
$site_bg:#F0F6FF;

:root { 
    --primary: #2A4B71;
    --secondary: #D48806;
    --text_color:#333;
    --site_bg:#F0F6FF;
    --white: #fff;
    --black : rgb(0 0 0);
    --black-half : rgba(0,0,0,.5);
    --white-half:rgba(255,255,255,.5);
  }
  